.assine {
    display: none;
    max-width: 600px;
    margin: 0 auto;

    .row {
        display: block;

        @include break(desk){
            display: flex;
        }
    }

    .title {
        margin: 15px 0 25px 0;
        text-transform: initial;
    }

    form .row div {
        margin-right: 0;

        @include break(desk){
            margin-right: 15px;
        }
    }
}