body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: $black;
    -webkit-overflow-scrolling: touch;
  
    a {
      text-decoration: none;
      color: $primary;

      &:hover {
        font-weight: bold;
      }
    }
  }
  
  ul li {
    list-style: none;
  }
  
  p {
    margin: 10px 0;
    line-height: 35px;
  }

.localizacaoAtual {
  background: $silver-light;
  padding: 10px;
  text-align: center;
}