/* Cores */
$primary: #2067CA;
$secundary: #1fb161;
$silver: #979797;
$silver-light: #F5F5F5;
$white: #fff;
$black: #000;


/* Mixins */
@mixin break($breakpoint) {

  @if $breakpoint == "mobile" {
		@media (min-width: 321px) and (max-width: 1021px) {
      @content;
    }
  }

  // @else if $breakpoint == "tablet" {
  //   @media (min-width: 480px) and (max-width: 998px) {
  //     @content;
  //   }
  // }

  @else if $breakpoint == "desk" {
    @media (min-width: 1024px) {
      @content;
    }
  }

}

@media (max-width: 1023px) {
	.hidden-mobile { display: none; }
}

@media (min-width: 1024px) {
	.hidden-desk { display: none; }
}

/* GRID */



