.localizacaoAtual .container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    div img {
        vertical-align: middle;
        margin-right: 10px;
    }
}

.header {

    .row {
        margin-top: 15px;
        flex-direction: row;
        flex-wrap: wrap;

        @include break(desk){
            flex-wrap: nowrap;
        }
    }

    &-logo {
       img { margin-top: 8px }
    }

    &-anatel {
        width: 35%;
        text-align: center;
        margin-top: 10px;
        @include break(desk){
            width: auto;
            order: 3;
        }

        img {
            width: 100px;
            @include break(desk){
                width: 130px;
            }
        }
    }


    &-menu {
        margin-bottom: 15px;
        flex-basis: 100%;
        width: 100%;
        @include break(desk){
            width: auto;
            order: 2;
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            @include break(desk){
                justify-content: end;
            }


            li {

                @include break(desk){
                    padding: 15px;
                }

                a {
                    color: #393636;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

    }
}



.banner {
    background-position: center!important;
    height: 500px;

    .prev, .next {
        position:absolute; 
        height:60px; 
        top: calc(50% - 60px);

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        left: 40px;
    }

    .next {
        right: 40px;
    }
}

.section-planos {
    margin-bottom: 20px;

    .row {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .aviso {
        color: $silver;
        text-align: right;
    }

    .planos-obs {
        font-size: 13px;
        margin: 0;
        line-height: 23px;
    }

    .planos-ajuda {
        margin: 25px 0;

        h2 {
            font-size: 26px;
            margin: 0 auto;
        }

        form {
            margin: 25px 0;
            width: 100%;
            display: flex;
            justify-content: space-around;

            input {
                margin: 0 5px;
                padding: 10px;
            }
        }
    }
}

.section-planos .row {
    display: block;

    @include break(desk){
        display: flex;
    }
}


body.rj .section-planos .plano {
    @include break(desk){
        min-width: 15%;
        max-width: 15%;
    }
}


.section-planos .plano {
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;    
    max-width: 100%;
    margin-bottom: 25px;
    
    &-title , &-body , &-price, &-obs {
        padding: 0 10px;
    }

    &-title {
        padding: 10px;
        background: rgb(0, 76, 174);
        background: -moz-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -webkit-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -o-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -ms-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: linear-gradient(146deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        color: $white;
        font-size: 34px;
    }

    &:hover &-title {
        background: rgb(0, 76, 174);
        background: -moz-linear-gradient(112deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -webkit-linear-gradient(112deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -o-linear-gradient(112deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: -ms-linear-gradient(112deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
        background: linear-gradient(112deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
    }

    &-body {
        margin-top: 20px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #999;
    }

    &-price {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 0 15px 25px 15px;

        h3 {
            font-size: 50px;
        }

        div {
            text-align: left;
            margin: 10px 5px;
            
            span {
               display: block;            
            }
        }
    }

    &-obs {
        margin-bottom: 30px;
        padding-bottom: 10px;

        @include break(desk){
            padding-bottom: 0px;
        }
        p {   
            color: $silver;
            font-size: 65%;

            &:first-of-type {
                margin: 20px 0 -20px 0;
            }
        }

        ul {
            font-size: 13px;
            margin-bottom: 30px;

            li {
                border-bottom: 1px solid #efefef;
                padding-bottom: 10px;

                img {
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }
    }

}







.section-sobre {
    background: $silver-light;
    padding: 20px 0 100px 0;

    @include break(desk){
        text-align: left;
    }

    .container {
        text-align: center;
    }

    h1 {
        color: #053388;
        margin-top: 50px;
        font-size: 40px;
    }

    img {
        margin-bottom: 25px;
        -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
        
        @-webkit-keyframes action {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }
        
        @keyframes action {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }
        
    }

    .title {
        margin:  0;
    }

    .diferenciais {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        div {
            background-color: #fff;
            padding: 20px;
            width: 24%;
            margin-right: 1%;
            height: 300px;
            position: relative;


            h2 {
                position: absolute;
                bottom: 25px;
                color: #fff;
                font-weight: bold;
                font-size: 26px;
                padding-right: 7%;

                small {
                    display: block;
                    font-size: 18px;
                    font-weight: normal;
                    margin-top: 10px;
                }
            }
        }

        .bgsuporte {
            background: url(../images/bgsuporte.jpg) no-repeat;
            
        }

        .bgestabilidade {
            background: url(../images/bgestabilidade.jpg) no-repeat;
        }

        .bgcentral {
            background: url(../images/bgcentral.jpg) no-repeat;
        }

        .bgwifi {
            background: url(../images/bgwifi.jpg) no-repeat;
        }
    }

    @include break(desk){
        .title {
            margin-top: -25px;
        }
    }


}



.section-certificacoes {
    text-align: center;

    @include break(desk){
        text-align: center;
    }

    .row {

        @include break(desk){
        height: 500px;
        }

        height: 400px;
        align-items: center;
    }

    margin-top: -10px;
    color: $white;


    background: rgb(31,177,97);
background: linear-gradient(0deg, rgba(31,177,97,1) 0%, rgba(11,199,96,1) 47%, rgba(27,173,93,1) 100%);


    &-medalha {
        max-width: 30%;
        text-align: center;

        img {
            max-width: 60%;
        }
    }

    &-texto {
        width: 70%;

        strong {
            font-size: 1.5em;
        }
    }
}


.section-atendimento {
    padding: 50px 0;
    color: #fff;
    background: rgb(0, 76, 174);
    background: -moz-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
    background: -webkit-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
    background: -o-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
    background: -ms-linear-gradient(56deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);
    background: linear-gradient(146deg, rgb(0, 76, 174) 20%, rgb(0, 234, 255) 100%);

    .row {
        justify-content: space-around;
    }

    @include break(desk){
        .row {
            flex-direction: row;

            .title , .numeros {
                width: 50%;
                text-align: center;
            }
        }
    }

    .title p {
        text-transform: none
    }

    .numeros {
        margin: 25px 0;
        text-align: left;

        h2 {
            margin-top: 20px;
        }
                    
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
        

    }

    




 
}

.section-trabalhe  {
    padding: 50px 0; 
    
    .row {
        justify-content: space-around;
        flex-direction: row;

        .title , .email {
            width: 50%;
            text-align: center;
        }

        form {
            width: 80%;
            margin: 30px auto;

            select {
                margin: 10px 0;
            }

            input[type="submit"] {
                margin-top: 20px
            }
        }
    }
}


#perguntas {
    background: #F5F5F5;
    padding: 50px 0;
    text-align: center;

    h2 {
        margin-bottom: 50px;;
    }
}

.perguntas-e-respostas {
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(219,219,219,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(219,219,219,1);
    box-shadow: 5px 5px 0px 0px rgba(219,219,219,1);

    .resposta  {
        font-size: 85%;
    }

    .perguntaAtiva {
        font-weight: bold;
    }
}






select{
    padding: 10px;
}


.central-cliente{
width: 135px;
background: #0065BB;
color: #fff;
font-size: 13px;
display: block;
padding: 5px;
border-radius: 5px;
text-align: center;
color: #fff!important;
}